@use "styles/abstracts" as *;

.rich-text__strong {
    color: var(--text);
    font-weight: 600;
}

.rich-text__link {
    color: var(--accent);
    text-decoration: none;

    @include hover {
        text-decoration: underline;
    }
}

.rich-text__hint {
    @include sr-only;
}
